# "local" | "docker", if you choose local mode, make sure to download the dependencies as explained in the documentation on github
deployment_method="local"

# ANY DEPLOYMENT
# adress of the APIs
expansion_API_host_name="127.0.0.1"
expansion_API_port=8001

lexical_resources_API_host_name="127.0.0.1"
lexical_resources_API_port=8003


# DOCKER DEPLOYMENT
# docker-config if deployment_method is docker
expansion_docker_name="fastapi-query-expansion"
expansion_docker_version="1.0.0"

